body{
    background-color: white;
    color: #0094db;
    font-family: Verdana;
    /*font-size: 12px;*/
}
input, select {
    color: #eb128b;
}

form{
    /*display: inline;*/
}

#controls{
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

#controls .control-item{

}

#publication-content{
    width: 100%;
}
#publication-content img{
    margin-left:4%;;
    width: 95%;
}