body{
    background-color: white;
    color: #0094db;
    font-family: Verdana;
    /*font-size: 12px;*/
}
input, select {
    color: #eb128b;
}

form{
    /*display: inline;*/
}

a#app-title{
    color: #eb128b;
    font-weight: bolder;
}

#controls{
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    position: fixed;
    width: 100%;
    background-color: white;
}

#controls .control-item{

}

#publication-content{
    width: 100%;
    margin-top: 85px;
    position: relative;
}
#publication-content img{
    /*margin-top: 77px;*/
    /*margin-left:4%;;*/
    /*width: 95%;*/
    /*position: absolute;*/
    /*top: 30px;*/
}






































